body{
  margin: 0;
  padding: 0;
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
 
  height: 100%;
}
.sec1{
  position: relative;
 height: 100vh;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  transition: .5s;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  transition: .5s;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}


@media screen and (max-width: 576px) {
  .box {
    width: 20em;
    transition: .5s;
  }

  .box h1{
  font-size: 30px;
  }  
}